
@{
    ViewData["Title"] = "我要合作";
    Layout = "~/Views/Mobile/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.FileHost_M/css/mine/agreement.css" />
    <link rel="stylesheet" href="@ViewBag.FileHost_M/css/mine/cooperate.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">我要合作</span>
    <span class=""></span>
</header>

<section class="mt list">
    <ul>
        <li><a href="#"><i class="icon"></i>学校进驻<i class="arrow"></i></a></li>
        <li><a href="#"><i class="icon"></i>公益合作<i class="arrow"></i></a></li>
        <li><a href="#"><i class="icon"></i>我要当推广员<i class="arrow"></i></a></li>
    </ul>
</section>