@model IEnumerable<Sxb.PCWeb.ViewModels.Article.ArticleListItemViewModel>
@{
    ViewBag.Title = " 幼儿园,小学,中学,国际民办公办学精选攻略-上学帮";
    ViewBag.Description = "上学帮精选频道给家长提供孩子上幼儿园,小学,中学,国际,民办,公办学校精选升学攻略，选择优秀学校，赢在起跑线";

}

}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>幼儿园,小学,中学,国际,民办,公办学校升学攻略锦集-上学帮</title>
    <meta name="description" content="上学帮升学攻略频道给家长提供孩子上幼儿园,小学,中学,国际,民办,公办学校升学攻略锦集，选择优秀学校，赢在起跑线">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

    @await Html.PartialAsync("~/Views/Article/ListItems.cshtml", model: Model)
</body>
</html>