<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--<add assembly="Exceptionless.NLog"/>-->
  </extensions>

  <targets async="true">
    <target xsi:type="File" name="ownFile-web" fileName="Logs\${level}\nlog-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception:format=toString,Data}" />
   
    <target xsi:type="ColoredConsole"
             name="ConsoleString"
             layout="[${lowercase:${level}}]:${date:format=HH\:mm\:ss} ${logger} [${threadid}]||
                      ${message} ${exception:format=toString,Data}">
      <highlight-word text="info" foregroundColor="DarkGreen" />
      <highlight-word text="debug" foregroundColor="Green" />
      <highlight-row condition="level &gt;= LogLevel.Error" foregroundColor="Red"/>
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
<!--    <logger name="Sxb.Inside.Middleware.LoggerMiddleware" minlevel="Info" writeTo="database" final="true"/>-->
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
    <!--<logger name="*" minlevel="Info" writeTo="exceptionless" />-->
    <logger name="*" minlevel="Trace" writeTo="ConsoleString" />
    
  </rules>
</nlog>