<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <!--<add assembly="Exceptionless.NLog"/>-->
  </extensions>

  <targets async="true">
    <target xsi:type="File" name="ownFile-web" fileName="Logs\${level}\nlog-${shortdate}.log" archiveAboveSize="5242880" maxArchiveFiles="30"
            layout="${longdate}|${event-properties:item=EventId.Id:whenEmpty=0}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString,Data}" />
    <!--exceptionless-->
    <!--<target name="exceptionless"
            apiKey="yY91HdujFxNiJYJq9GAAmTLbYAYcDU8G1SXdBKck"
            serverUrl="http://log.sxb.cn/"
            xsi:type="Exceptionless">
            <field name="host" layout="${machinename}" />
      <field name="Request-Host" layout="${aspnet-Request-Host}" />
      <field name="Request-useragent" layout="${aspnet-request-useragent}" />
      <field name="Request-IP" layout="${aspnet-Request-IP}" />
      <field name="Request-referrer" layout="${aspnet-request-referrer}" />
            <field name="windows-identity" layout="${windows-identity:userName=True:domain=False}" />
            <field name="process" layout="${processname}" />     
    </target>-->
  <target xsi:type="WebService"
                name="logsdk"
                url="http://statistic.sxkid.com/statistic"
                protocol="JsonPost"
                encoding="utf-8"
                >
        <parameter name="">
            <layout xsi:type="JsonLayout">
                <attribute  name='userid' layout='${event-properties:item=userId}'/>    
                <attribute  name='deviceid' layout='${event-properties:item=deviceId}'/>
                <attribute  name='url' layout='${aspnet-Request-Url}'/>    
                <attribute  name='adcode' layout='${event-properties:item=adcode}'/>
                <attribute  name='fw' layout='${event-properties:item=fw}'/>    
                <attribute  name='fx' layout='${event-properties:item=fx}'/>
                <attribute  name='appid' layout='1'/>    
                <attribute  name='version' layout='1.0'/>
                <attribute  name='ip' layout='${event-properties:item=ip}'/> 
                <attribute  name='module' layout='${event-properties:item=actionName}'/>    
                <attribute  name='time' layout='${date:format=yyyy-MM-dd HH\:mm\:ss.mmm}'/>
                <attribute  name='sessionid' layout='${event-properties:item=sessionid}'/>    
                <attribute  name='method' layout='${lowercase:${aspnet-Request-Method}}'/>
                <attribute  name='params' layout='${event-properties:item=params}'  encode="false"/>    
                <attribute  name='referer' layout='${aspnet-Request-Referrer}'/>
                <attribute  name="platform" layout="${event-properties:item=platform}" />
                <attribute  name="client" layout="${event-properties:item=client}" />
                <attribute  name="system" layout="${event-properties:item=system}" />
                <attribute  name="ua" layout="${aspnet-Request-UserAgent}" />
            </layout>
        </parameter>
    </target>
    <target name="database" xsi:type="Database"
              dbProvider="System.Data.SqlClient"
              connectionString="Server=10.1.0.16;database=iSchoolLogs;user id=iSchool;password=SxbLucas$0769;"
             >
        <commandText>
       INSERT INTO [dbo].[SxbLogs]([userId], [url], [method], [parameters],
                [time], [ipAddress], [latitude], [longitude], [ua], [deviceId], [fw],[fx],[platform],[system],[client],
                [path], [actionName],[refer]
                ) VALUES
        (@userId, @url,  @method,@parameters, @time, @ip, @latitude, @longitude, @ua,
                @deviceId, @fw,@fx, @platform, @system, @client,@path, @actionName,@refer);
        </commandText>
        <parameter name="@userId" layout="${event-properties:item=userId}" />
        <parameter name="@url" layout="${aspnet-Request-Url}" />
        <parameter name="@parameters" layout="${event-properties:item=queryString}" />
        <parameter name="@method" layout="${lowercase:${aspnet-Request-Method}}" />
        <parameter name="@time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.mmm}" />
        <parameter name="@ip" layout="${event-properties:item=ip}" />
        <parameter name="@ua" layout="${aspnet-Request-UserAgent}" />
        <parameter name="@latitude" layout="${event-properties:item=latitude}" />
        <parameter name="@longitude" layout="${event-properties:item=longitude}" />
        <parameter name="@platform" layout="${event-properties:item=platform}" />
        <parameter name="@client" layout="${event-properties:item=client}" />
        <parameter name="@system" layout="${event-properties:item=system}" />
        <parameter name="@deviceId" layout="${event-properties:item=deviceId}" />
        <parameter name="@fw" layout="${event-properties:item=fw}" />
        <parameter name="@fx" layout="${event-properties:item=fx}" />
        <parameter name="@refer" layout="${aspnet-Request-Referrer}" />
        <parameter name="@path" layout="${event-properties:item=path}" />
        <parameter name="@actionName" layout="${event-properties:item=actionName}" />
    </target>      
    

    <target xsi:type="ColoredConsole"
             name="ConsoleString"
             layout="[${lowercase:${level}}]:${date:format=HH\:mm\:ss} ${logger} [${threadid}]||
                      ${message} ${exception:format=toString,Data}">
      <!--<highlight-word text="info" foregroundColor="DarkGreen" />
      <highlight-word text="debug" foregroundColor="Green" />
      <highlight-row condition="level &gt;= LogLevel.Error" foregroundColor="Red"/>-->
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="Sxb.Web.Middleware.LoggerMiddleware" minlevel="Info" writeTo="logsdk" />
    <logger name="Sxb.Web.Middleware.LoggerMiddleware" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Warn" writeTo="ownFile-web" />
    <!--<logger name="*" minlevel="Info" writeTo="exceptionless" />-->
    <logger name="*" minlevel="Trace" writeTo="ConsoleString" />
  </rules>
</nlog>