@await Html.PartialAsync("_Original.cshtml", (IEnumerable<Sxb.Web.ViewModels.School.SchoolExtListItemViewModel>)ViewBag.Data)
<li class="nextpage"><a href="@Html.Raw(ViewBag.NextPageUrl)">下一页</a></li>