<div class="confirm-box">
    <div>
        <div class="title">您的资料信息将自动向所有国际学校递交</div>
        <div class="btn-box">
            <a href="javascript:;" class="cancel-btn">再考虑一下</a>
            <a href="javascript:;" class="confirm-btn">立即报名</a>
        </div>

    </div>
</div>