    <!-- 报名失败 -->
    <div class="fail-alert">
        <span class="close-btn"></span>
        <div class="content">
            <!-- <img src="../imgs/school-regis/3475.png"/> -->
            <i class="fail-i"></i>
            <div class="text">抱歉，信息提交失败<br>请再次尝试</div>
            <a href="javascript:;">确定</a>
        </div>
    </div>