    <!-- 报名弹窗 -->
<div class="popup-regis-box">
    <span class="close-btn"></span>
    <form action="" class="data">
        <h1 class="text-center title">广东国际高中招生报名中</h1>
        <div class="group">
            <input id="name" name="name" placeholder="您的称呼">
        </div>
        <div class="group">
            <input id="phone" name="phone" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="您的电话">
        </div>
        <div class="group">
            <span class="mycheckbox"></span>
            <span class="tips">同意上学帮为您推荐其他国际高中</span>
        </div>
        <button type="button" class="submit-btn" data-currentpostform="1" data-signType="2">马上报名</button>
    </form>
</div>