    <!--报名咨询-->
<div class="QRcode-box" style="z-index: 2;">
    <span class="close-btn">+</span>
    <div>
        <h1 class="title text-center">加入微信群面对面咨询了解</h1>
        <div class="QRcode">
            <img src="@(ViewBag.StaticFile)/imgs/school-regis/img6515bd7a0ac38.png" />
        </div>
        <div>上学帮报名咨询群</div>
        <a href="javascript:;">我知道了</a>
    </div>
</div>