<div class="bottom-popup">
    <form class="data">
        <input type="text" name="name" id="name" placeholder="您的称呼">
        <input name="phone" id="phone" onkeyup="value=value.replace(/[^\d]/g,'')" maxlength="11" placeholder="您的电话">
        <div class="btn-box group">
            <button type="button" class="submit-btn" data-signType="1" data-currentPostForm="2">马上报名</button>
            <br>
            <span class="mycheckbox"></span>
            <span class="tips">同意上学帮为您推荐其他国际高中</span>
        </div>
    </form>
</div>