
@{
    ViewData["Title"] = "首页";
    Layout = "~/Areas/PartTimeJob/Views/Shared/_Layout.cshtml";
}

<style>
    #home{ color:#fff !important;}
</style>

<div class="container col-12" style="text-align:center;">
    <text style="font-size:3.5vw;">欢迎来到兼职管理平台</text>
</div>
