
@{
    ViewData["Title"] = "上学帮内容授权合作协议";
    Layout = "~/Views/Mobile/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="@ViewBag.FileHost_M/css/agreement.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">上学帮内容授权合作协议</span>
    <span class=""></span>
</header>
<section class="mt">
    <p>
        甲乙双方本着平等互利、优势互补、共同发展的原则，经过友好协商，在真实、充分地表达各自意愿的基础上，根据《中华人民共和国合同法》和相关法律法规的规定，就双方的合作达成以下协议：
    </p>
    <p>
        一、合作内容
    </p>
    <p>
        1. 甲方授权乙方无偿使用甲方所有平台下的内容及甲方提供的其他作品，其中包括不限于甲方原创内容、网上资料整合、专业资料整理、其他用户自发的投稿内容。甲方保证其享有授权乙方使用内容的著作权（又称“版权”）、信息网络传播权、数字版权、使用权等相关权力，不侵害第三方合法权利，甲方内容更新频率由甲方自行安排。
    </p>
    <p>
        2. 乙方将甲方授权的内容通过乙方的移动产品或所属网站的对应学校资讯版块进行收录及展示，对于乙方判断的甲方精品内容，乙方将专题列表和其他推荐位（含乙方所属移动产品、所属网站等）进行推荐。
    </p>
    <p>
        3. 乙方向甲方无偿授权乙方平台中的V级推荐账户，并根据V级账户要求在遵守平台责任的前提下享有乙方平台中的V级权益，其权益包括不限于：达人推荐曝光、邀请问答置顶、提醒等特权，以及其他平台推广宣传特权。
    </p>
    <p>
        二、权利和义务
    </p>
    <p>
        1.甲方声明并保证其所提供的内容全部是甲方拥有版权或信息网络传播权，作品或内容中不含有任何国家法律法规禁止出版的内容；甲方声明并保证本协议项下的授权没有侵犯作者、出版社或其他任何第三方的合法权利，甲方保证如因甲方授权作品的权利归属、内容瑕疵等问题，导致乙方发生版权及相关纠纷或受相关处罚，甲方应对此承担全部责任并负责解决纠纷，乙方有权要求解除合同，甲方应赔偿乙方全部损失。
    </p>
    <p>
        2.乙方承诺，在协议有效期内，由乙方提供合作内容的技术支持、完成日常运营工作，以保证合作内容的稳定运行。
    </p>
    <p>
        3.乙方承诺，在协议有效期内，对甲方提供的优质内容通过乙方拥有的移动产品或所属网站进行推广，推广形式包括且不仅包括，乙方推广甲方内容时，在文头保留甲方公众号名称及公司LOGO，推广的时间、方式、频率等由乙方自主决定，甲方不予干预。
    </p>
    <p>
        4.在授权期间，本着以宣传和推广为目的，乙方有权将授权内容以及甲方公众号名称、公司LOGO在报纸、杂志、互联网等外部推广媒体进行部分内容演绎引用，乙方为此无需另外支付甲方费用。
    </p>
    <p>
        5.乙方在推荐甲方内容时，有权根据格式需要，过滤甲方内容中与主题无关或关系不大的冗余信息，甲方同意乙方的此种处理不作为任何侵犯甲方著作权的行为。如果甲方提供的内容质量严重不符合乙方平台内容的整体水平，乙方有权利不展示甲方提供的内容。但甲方确认，乙方对甲方内容的筛选并不为甲方设置任何审核义务，也不免除甲方在本合同项下的任何责任。
    </p>
    <p>
        6.如甲方在乙方产品内嵌入甲方内容自带的广告，乙方有权对其广告内容进行审核并决定是否在乙方产品内进行发布。
    </p>
    <p>
        7.乙方对甲方发布授权违法内容不承担连带责任，但乙方有权拒绝发布甲方提供的不符合国家法律、法规、政策及乙方认为不适宜的作品或内容。乙方拥有对授权作品中涉及侵权、违法违规的内容进行技术手段屏蔽、删减以及禁止发布的权利。情节严重的，甲方自行承担刑事责任。
    </p>
    <p>
        8.甲方在乙方平台获得的V级推荐账户有效时间为两年，在此期间需遵守V级推荐账户对应的运营规则。若甲方违反本协议约定，乙方有权自行取消甲方V级推荐账户使用。涉及违反国家法律、法规、政策，情况严重者，应有权机关要求乙方将对其账户信息向有权机关合法披露。
    </p>
    <p>
        9.乙方授权内容权利为非专有使用权，对于其他第三方侵犯本协议项下授权内容的侵权行为，甲方有权采取包括但不限于诉讼、仲裁等各种法律手段维护自身的合法权益并获取相应受益，维权行为所发生的费用由甲方承担。
    </p>
    <p>
        10.若甲方所授权内容权利主体发生变更，甲方应及时通知乙方，若新设第三方承接甲方全部权利义务，新设第三方应与乙方签署《补充协议》或重新签署新协议，以确保继续履行本协议约定期限；若未及时通知，影响乙方对于授权内容的正常使用，甲方视为违约，乙方有权取消其V级推荐账户使用。
    </p>
    <p>
        三、保密条款
    </p>
    <p>
        1. 在本协议履行期间，双方均不得向任何第三方披露或者透露有关本协议内容项下的任何信息。双方均应尽力防止对方的任何竞争者或潜在竞争者自其信息途径获取该信息。
    </p>
    <p>
        2. 任何一方违反保密义务，应当赔偿给对方造成的全部损失。
    </p>
    <p>
        四、不可抗力
    </p>
    <p>
        1. 如果出现不可抗力，双方在本协议中的义务在不可抗力影响范围及其持续期间内将中止履行。任何一方不应承担由于其控制范围之外的不可抗力原因造成的未能履行其本协议义务的责任。“不可抗力”取《中华人民共和国合同法》的有关定义。
    </p>
    <p>
        2.　声称遭受不可抗力的一方应在不可抗力发生后不迟于十五（15）日通知另一方，并随附经有关部门确认的不可抗力书面证明，且应尽可能减少不可抗力所产生之影响。
    </p>
    <p>
        3. 如果发生不可抗力，双方应立即协商解决问题的方案。如果不可抗力持续三十（30）日以上，且对本协议之履行产生重大不利影响，则任何一方均可终止本协议。
    </p>
    <p>
        五、协议的期限、终止及变更
    </p>
    <p>
        1. 协议有效期两年。
    </p>
    <p>
        2. 如需终止协议，甲乙双方需要在协议期满前两个月书面形式通知对方，在未提前通知终止本协议的情况下，协议自动终止。
    </p>
    <p>
        3. 协议的变更，需通过双方正式书面文件确认后方有效。
    </p>
    <p>
        六、争议的解决以及法律适用
    </p>
    <p>
        就本协议内容或其执行发生任何争议，双方应进行友好协商；协商不成时，应当向广州仲裁委员会提请仲裁。
    </p>
    <p>
        本合同的订立、执行、解释及争议的解决均应适用中华人民共和国法律。
    </p>
    <p>
        七、协议的效力
    </p>
    <p>
        甲乙双方共同拟定，双方均认可本协议的所有条款。
    </p>
    <p>
        <br />
    </p>
</section>
