
@{
    ViewData["Title"] = "免责声明";
    Layout = "~/Views/Mobile/Shared/_MobileLayout.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="@ViewBag.FileHost_M/css/agreement.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">免责声明</span>
    <span class=""></span>
</header>
<section class="mt">

    <p>
        1、除非上学帮以书面形式明确约定，上学帮对于用户以任何方式（包括但不限于包含、经由、连接或下载）从上学帮所获得的任何由学校发布的内容信息，包括但不限于学校信息、点评内容等，不保证其准确性、完整性、可靠性。用户应当自行审核判断相关信息，并对于用户因上学帮上的内容信息而购买、获取的任何产品、服务、信息或资料自行承担责任和风险。用户因此受损的，上学帮在法律允许的最大范围内予以免责。上学帮内所有用户所发表的用户点评、学校或者产品信息等，仅代表用户个人观点，并不表示上学帮赞同其观点或证实其描述，上学帮在法律允许的最大范围内予以免责。
    </p>
    <p>
        2、您同意并理解，针对学校向您销售/提供的商品/服务，上学帮并非您所购买的具体商品或者服务的生产者和销售者。您同意，针对该等商品或者服务以及相关售后服务中所产生的任何矛盾和纠纷均不应针对上学帮提出。在法律允许的范围内，上学帮不对上述商品/服务承担包括解释说明、赔偿在内的任何责任。对于上学帮平台中明确标注为自营的商品/服务，适用上学帮自营商品/服务的相应服务规则。
    </p>
    <p>
        3、您在上学帮平台上传、发布任何信息或者内容的，应当自行保留备份。上学帮不对用户所发布信息的保存、修改、删除或储存失败负责，对上学帮平台上非因上学帮故意所导致的排字错误、疏忽等不承担责任。上学帮有权但无义务，改善或更正上学帮任何部分之疏漏、错误。
    </p>
    <p>
        4、请您知悉上学帮在其平台上所公布的各项排行榜单系根据用户真实评价、访问次数、浏览时长等数据自行生成，并无人工干预。该等榜单仅为您选择学校或服务提供参考，不涉及任何学校付费宣传，您应自行判断榜单中所列学校及服务的属性，上学帮将不对此榜单中所列学校和服务做出任何形式的担保或保证。
    </p>
    <p>
        5、任何非经上学帮官方渠道获得的中奖、优惠等活动或信息，上学帮对此不承担法律责任。
    </p>
    <p>
        6、上学帮因发现上学帮上显现的团购、预订、消费买单等交易产品信息明显错误或缺货时，有权单方面作出修改，但该等修改不应视为上学帮对您作出的任何承诺。请您谅解，您基于该等修改之前的错误与缺货所进行的交易或者判断，上学帮不对此承担任何责任。
    </p>
    <p>
        7、上学帮有权在法律允许范围内，在不通知您的情况下删除任何用户发布的不符合本条款及各项服务规则以及法律规定的信息。上学帮将不对删除该等信息给您造成的不便或损失承担任何责任。
    </p>
    <p>
        <br />
    </p>
</section>