
@{
    ViewData["Title"] = "上学帮用户服务条款";
    Layout = "~/Views/Mobile/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" type="text/css" href="@ViewBag.FileHost_M/css/agreement.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">上学帮用户服务条款</span>
    <span class=""></span>
</header>
<section class="mt">
    <p>
        发布/生效日期：2019年10月8日
    </p>
    <p>
        您在使用上学帮服务前，应当仔细认真阅读本《上学帮用户服务条款》(下称“本条款”)中的全部规则及发布的其他服务条款、专项产品或服务规则或规范（包括但不限于《上学帮侵权投诉须知》、《上学帮争议调解处理规范》以及《知识产权声明》等，以下合称“服务规则”）的内容（特别是其中以加粗及/或加下划线标示出的关于上学帮服务及用户重大权益的规则，该等规则可能涉及相关方的责任免除或限制、法律适用与争议解决条款，请您重点阅读），确认对本条款各项服务规则均已知晓、理解并接受，并已同意将其作为确定双方权利义务的依据。如您使用上学帮账号访问上学帮或以其他方式使用或接受上学帮的任何服务，即视为您已阅读并与上学帮达成协议，自愿接受本条款及服务规则的所有内容的约束。所有服务规则视为本条款不可分割的一部分，与本条款具有同等法律效力。
    </p>
    <p>
        本条款的签约双方为上学帮服务的实际运营商广州市藏星网络科技有限公司（下称“上学帮”）与使用上学帮相关服务的使用人（下称“用户”或“您”），本条款是您与上学帮之间关于您使用上学帮提供的各项服务所订立的服务条款，具有正式书面合同的效力。
    </p>
    <p>
        定义
    </p>
    <p>
        1、上学帮：指是广州市藏星网络科技有限公司运营的选校资讯服务平台，包括但不限于上学帮官网、上学帮客户端、上学帮小程序等形式的互联网平台。上学帮运用自己的平台系统，通过互联网络等方式为用户提供学校信息、点评信息、问答信息、文章攻略、探校报名、招生报名等网络服务。
    </p>
    <p>
        2、口碑点评：指上学帮中的自媒体平台，官网及移动端的用户经开通权限后可在该平台中发布有关学校的点评内容、问答、攻略、图片及视频等各类信息。
    </p>
    <p>
        一、用户账号
    </p>
    <p>
        您知悉并同意，您可通过注册新的上学帮账号或登录您现有的上学帮账号以使用上学帮的各项服务及功能。
    </p>
    <p>
        二、用户管理
    </p>
    <p>
        1、您知悉、理解并同意，上学帮服务过程中，可能涉及收集、存储、使用、共享和保护用户个人信息。在您使用上学帮提供的服务时，您同意上学帮依据《上学帮隐私政策》的规定执行相关个人信息的收集、使用和共享。您进一步同意，就上学帮平台所产生的交易或其他与个人信息使用紧密相关的交易，您授权上学帮使用或允许上学帮许可的第三方在必要、合理的限度内使用您的个人信息，包括但不限于身份信息、账号信息、交易信息等。
    </p>
    <p>
        2、您知悉并同意，上学帮将有权按照网络信息主管部门的相关规定对您的账号信息及所发布的各项信息进行必要的安全审查及评估，保留并向有关部门定期报送您的账号信息及您所发布的各项信息。
    </p>
    <p>
        3、用户有权在上学帮平台上发布客观、真实、亲身体验的文字点评、图片点评、视频点评。用户同意并理解，为了遵守法律法规和政策，维护良好的平台秩序，上学帮有权对特定用户、特定学校、特定服务的点评信息或者学校信息发布流程作出特别设定或者限制。
    </p>
    <p>
        4、您知悉并同意，上学帮中有关地图定位的相关服务由高德软件有限公司提供。
    </p>
    <p>
        5、用户确认已经仔细阅读并充分理解和自愿同意上学帮《平台点评规则》的全部规定。在发布信息时，您应确保该等信息的真实性、客观性、合法性，上学帮提倡用户贡献高质量体验点评。用户应确保在上学帮上发表的各类点评信息、攻略或文章、图片及视频均不涉及侵犯第三方隐私、著作权或其他合法权益。用户需维护点评的客观性，不得利用上学帮用户身份进行违反诚信的任何行为，包括但不限于：
    </p>
    <p>
        （1）炒作并向学校收取费用或获取利益；
    </p>
    <p>
        （2）为获得利益或好处，参与或组织撰写及发布虚假点评；
    </p>
    <p>
        （3）以差评威胁、要求学校提供额外的利益或好处；
    </p>
    <p>
        （4）不得以虚构事实、侮辱、诽谤等方式恶意诋毁上学帮官网或学校的名誉；
    </p>
    <p>
        （5）进行其他其它影响点评客观、干扰扰乱上学帮正常秩序的违规行为等。
    </p>
    <p>
        如您存在以上行为的，上学帮有权采取如下行动：
    </p>
    <p>
        ①违规信息将作屏蔽，视情节轻重发出警告；
    </p>
    <p>
        ②清除其所有点评、图片，取消点评星级、社区等级。
    </p>
    <p>
        ③暂时限制/永久限制您使用账号在上学帮平台上发布信息；
    </p>
    <p>
        ④法律、行政法规及本条款规定的其他方式
    </p>
    <p>
        6、禁止用户将上学帮以任何形式作为从事各种非法活动的场所、平台或媒介。未经上学帮的授权或许可，用户不得借用上学帮的名义从事任何商业活动，也不得以任何形式将上学帮作为从事商业活动的场所、平台或媒介。
    </p>
    <p>
        7、上学帮要求各搜索引擎遵循行业规范，即“拒绝Robots访问标准”(Robots Exclusion Standard)，否则将视你的抓取行为是对我上学帮财产权利和知识产权的侵犯，有权通过法律诉讼维护上学帮利益。
    </p>
    <p>
        8、您违反本条款或上学帮不时发布的任何服务规则，则上学帮有权在法律允许的范围内采取一切必要的措施，包括但不限于删除用户发布的内容、取消用户在上学帮获得的星级、荣誉以及虚拟财富，给上学帮、造成损失的，您应负全部赔偿责任，包括且不限于财产损害赔偿、名誉损害赔偿、诉讼费、律师费、公证费、交通费等因维权而产生的合理费用。上学帮有权按照本条款的相关规定对您的行为进行处理。
    </p>
    <p>
        三、口碑点评服务特别约定
    </p>
    <p>
        1、您应确保具有相应的资格并符合在上学帮（包括口碑点评）开展交互信息服务的相应条件。如果因为您不具备相应资格或者条件的情形下通过上学帮口碑点评发布信息而引发任何法律责任，您应自行承担。因此给上学帮造成损失的，您应予以全额赔偿。
    </p>
    <p>
        2、用户在上学帮发布的文字、图片、视频等信息均应遵守相关法律法规、规章及本条款的相关规定。
    </p>
    <p>
        3、您同意：如出现以下任一情形的，上学帮将视情节轻重采取删除信息、限制口碑点评的使用功能、停止您的账号使用上学帮及口碑点评等处理措施：
    </p>
    <p>
        （1）发布违反相关法律法规、规章、政策之规定或者违反本条款及相关服务规则的信息；
    </p>
    <p>
        （2）发布与主题无关的信息或评论，包含文字、图片、视频等；
    </p>
    <p>
        （3）发布可能存在交易风险的外部网站和APP信息，如发布社交、团购等外部网站或APP的名称、超链接、二维码等信息；
    </p>
    <p>
        （4）发布的视频违反国家法律法规的相关要求，包括但不限于《广播电视管理条例》、《电影管理条例》、《互联网视听节目服务管理规定》、《广电总局关于加强互联网视听节目内容管理的通知》等的相关要求；
    </p>
    <p>
        四、服务终止
    </p>
    <p>
        1、您同意上学帮有权随时修改或中断其向您提供的任何免费服务而无需事先通知您。您与上学帮进行的有偿交易，您同意上学帮有权在事先通知的情况下予以修改、中断，并按照公平、诚实信用、等价有偿的原则处理后续事宜。
    </p>
    <p>
        2、如您的账号同时符合以下条件，则本平台将会回收您的账号。在回收账号前，会通过有效的联系方式通知到您。这将导致您的账号不能再登录上学帮，相应服务亦同时终止：
    </p>
    <p>
        （一）连续六个月未登录；
    </p>
    <p>
        （二）不存在未到期的有效业务；
    </p>
    <p>
        （三）终止您的账号和服务的行为不违反相关法律法规的强制性规定。
    </p>
    <p>
        3、如您对本条款及其不时修订有任何异议的，您有权停止使用上学帮的各项服务，或通过客服等渠道告知上学帮停止对您提供服务。停止服务后，除法律法规另有明确规定外，上学帮有权（但无义务）保留您的账号访问上学帮的相关信息和数据，或留存、转发任何账号内的任何站内信或短消息。在此情况下，上学帮没有义务（但有权利）向您或代为向商家或其他第三方传送任何未处理的信息或未完成的服务或交易信息。您同意上学帮不就终止上学帮服务而对您或任何第三方承担任何责任。
    </p>
    <p>
        4、您同意，您与上学帮的合同关系终止后，上学帮就您在使用上学帮服务期间存在违法行为或违反本条款和／或其他服务规则的行为的，仍可依据本条款向您主张权利。
    </p>
    <p>
        五、知识产权及其它权利
    </p>
    <p>
        1、用户确认其已经仔细阅读并同意上学帮的《知识产权声明》。该声明为本条款之重要组成部分。
    </p>
    <p>
        2、上学帮平台及相关服务的运营系统由上学帮自主开发、运营并提供技术支持，上学帮对上学帮服务的开发和运营等过程中产生的所有数据和信息等享有全部权利。上学帮提供各项服务时所依托软件的著作权、专利权，所使用的各项商标、商业形象、商业标识、技术诀窍，其著作权、商标权及其他各项相关权利均归上学帮所有。
    </p>
    <p>
        六、免责事由
    </p>
    <p>
        1、除非上学帮以书面形式明确约定，上学帮对于用户以任何方式（包括但不限于包含、经由、连接或下载）从上学帮所获得的任何由学校发布的内容信息，包括但不限于学校信息、点评内容等，不保证其准确性、完整性、可靠性。用户应当自行审核判断相关信息，并对于用户因上学帮上的内容信息而购买、获取的任何产品、服务、信息或资料自行承担责任和风险。用户因此受损的，上学帮在法律允许的最大范围内予以免责。上学帮内所有用户所发表的用户点评、学校或者产品信息等，仅代表用户个人观点，并不表示上学帮赞同其观点或证实其描述，上学帮在法律允许的最大范围内予以免责。
    </p>
    <p>
        2、您同意并理解，针对学校向您销售/提供的商品/服务，上学帮并非您所购买的具体商品或者服务的生产者和销售者。您同意，针对该等商品或者服务以及相关售后服务中所产生的任何矛盾和纠纷均不应针对上学帮提出。在法律允许的范围内，上学帮不对上述商品/服务承担包括解释说明、赔偿在内的任何责任。对于上学帮平台中明确标注为自营的商品/服务，适用上学帮自营商品/服务的相应服务规则。
    </p>
    <p>
        3、您在上学帮平台上传、发布任何信息或者内容的，应当自行保留备份。上学帮不对用户所发布信息的保存、修改、删除或储存失败负责，对上学帮上的非因上学帮故意所导致的排字错误、疏忽等不承担责任。上学帮有权但无义务，改善或更正上学帮任何部分之疏漏、错误。
    </p>
    <p>
        4、您知悉上学帮在其平台上所公布的各项排行榜单系根据用户真实评价、访问次数、浏览时长等数据自行生成，并无人工干预。该等榜单仅为您选择学校或服务提供参考，不涉及任何学校付费宣传，您应自行判断榜单中所列学校及服务的属性，上学帮将不对此榜单中所列学校和服务做出任何形式的担保或保证。
    </p>
    <p>
        5、任何非经上学帮正规渠道获得的中奖、优惠等活动或信息，上学帮不承担法律责任。
    </p>
    <p>
        6、上学帮因发现上学帮上显现的团购、预订、消费买单等交易产品信息明显错误或缺货时，有权单方面作出修改，但该等修改不应视为上学帮对您作出的任何承诺。
    </p>
    <p>
        7、上学帮有权在法律允许范围内，在不通知您的情况下删除任何用户发布的不符合本条款及各项服务规则以及法律规定的信息。上学帮将不对删除该等信息给您造成的不便或损失承担任何责任
    </p>
    <p>
        8、您同意，在法律许可范围内，上学帮在任何情况下都不对任何个人或实体的直接、间接、偶然、特殊、惩罚性的损害或其他损害或损失承担责任，这些损害或损失包括但不限于：
    </p>
    <p>
        （1）您理解并同意，由于互联网的特殊性造成的上学帮显示的信息所存在的滞后性或差错，上学帮对此不承担任何责任；
    </p>
    <p>
        （2）您在使用上学帮服务中，因第三方原因使您遭受侮辱、诽谤、不作为、淫秽、色情或亵渎事件，上学帮在法律允许的范围内不承担法律责任；
    </p>
    <p>
        七、争议解决
    </p>
    <p>
        1、《上学帮争议调解处理规范》是本条款的重要组成部分，您确认已经仔细阅读并同意遵守该规范全部内容。如本条款对同一问题有不同规定，您同意这些专门规范之内容将优先适用。
    </p>
    <p>
        2、您同意并理解，如您因通过上学帮平台购买的任何商品或者服务产生任何纠纷的，上学帮可在法律法规要求的范围内协助您与争议对方进行协商调解。您同意，上学帮有权向争议双方了解情况，并将所了解的情况通过必要方式通知对方。但您理解并同意，上学帮无任何义务对您与学校之间的任何争议承担任何责任。
    </p>
    <p>
        3、若您与上学帮因本条款内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向本条款签订地（广州市天河区）有管辖权的人民法院提起诉讼。
    </p>
    <p>
        4、因您使用上学帮服务而引起或与之相关的一切争议、权利主张或其它事项，均适用中华人民共和国大陆地区法律，并且排除一切冲突法规定的适用。
    </p>
    <p>
        八、意见及反馈
    </p>
    <p>
        用户如有任何需要说明条款的要求，请造访【联系我们】【http://www.sxkid.com】致电说明，用户请拨打020-89623090(工作时间：周一至周日8:00-21:00)。
    </p>
    <p>
        <br />
    </p>
</section>