<!doctype html>
<html lang="en">
<head>
    <meta name="applicable-device" content="mobile">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" />
    
    <title>学校信息有误</title>
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/common.css" />
    <link rel="stylesheet" href="@ViewBag.StaticFile/css/404.css" />
</head>
<body>
	<section class="school-error text-center">
		<i class="error-icon"></i>
		<p>抱歉，因信息有误或学校要求，<br>该学校已下架</p>

		<p class="bottom-phone">如有疑问，请咨询<a href="" tel="020-89623079">020-89623079</a></p>
	</section>

<script src="@ViewBag.StaticFile/js/jquery-3.4.0.min.js"></script>
<script src="@ViewBag.StaticFile/js/layout-common.js"></script>
</body>
</html>