
@{
    ViewData["Title"] = "UpdateSettlementType";
    Layout = "~/Areas/PartTimeJob/Views/Shared/_LayoutLayer.cshtml";
}

<table id="UpdateSettlementType"></table>


@section scripts{ 
    <script type="text/javascript">
        $(function () {
            $('#UpdateSettlementType').bootstrapTable({
                method: 'get',
                url: "",//请求路径
                striped: true, //是否显示行间隔色
                pageNumber: 1, //初始化加载第一页
                pagination: true,//是否分页
                sidePagination: 'client',//server:服务器端分页|client：前端分页
                pageSize: 4,//单页记录数
                pageList: [5, 10, 20, 30],//可选择单页记录数
                queryParams: function (params) {//上传服务器的参数
                    var temp = {//如果是在服务器端实现分页，limit、offset这两个参数是必须的
                        limit: params.limit, // 每页显示数量
                        offset: params.offset, // SQL语句起始索引
                        //page : (params.offset / params.limit) + 1, //当前页码

                        Name: $('#search_name').val(),
                        Tel: $('#search_tel').val()
                    };
                    return temp;
                },
                columns: [{
                    title: '微信昵称',
                    field: 'loginName',
                    sortable: true
                }, {
                    title: '手机号',
                    field: 'name',
                    sortable: true
                }, {
                    title: '微信号',
                    field: 'tel',
                }, {
                    title: '结算方式',
                    field: 'sex',
                    formatter: operation,//对资源进行操作
                }]
            })
        })

        

        //删除、编辑操作
        function operation(value, row, index) {
            var htm = ""
            htm += "<select>";
            htm += "<option value='1'>微信现结</option>";
            htm += "<option value='1'>另结</option>";
            htm += "</select>";
            return htm;
        }
    </script>
}