
@{
    ViewData["Title"] = "常见问题";
    Layout = "~/Views/Mobile/Shared/_MobileLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.FileHost_M/css/mine/agreement-detail.css" />
<style type="text/css">
    h2 {font-size:0.42rem; padding:0 0.3rem 0;}
    .detail-list {margin-bottom:1.1rem;}
    .detail-list> div {display:none;}
</style>
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">常见问题</span>
    <span class=""></span>
</header>

<section class="mt detail-list">
    <div id="q1">
        <h2>学校总评问题</h2>
        <ul>
            <li>
                <h5 class="title">Q:学校总评里各个项目的评分是如何得出的？</h5>
                <p>上学帮的学校总评模块是通过上学帮自有的大数据平台，获取全网的数据、资讯材料，再通过专利算法以统一公平的标准，为每一所学校进行评分。同时为家长提供全面客观的选校参考。</p>
            </li>
        </ul>
    </div>
    <div id="q2">
        <h2>账户信息/登录问题</h2>
        <ul>
            <li>
                <h5 class="title">Q:为什么我的账号无法登录？</h5>
                <p>
                    上学帮的账号无法登录有以下几种情况：<br />
                    1.账号名和密码不匹配，请注意填写的账户名和密码是否正确并相互匹配。如忘记密码，找回请点击“找回密码”。<br />
                    2.高风险账号（如账号被盗用等）请您点击“找回密码”，通过验证手机号找回。
                </p>
            </li>
            <li>
                <h5 class="title">Q:如何修改绑定手机号？</h5>
                <p>
                    如果当前账户绑定的手机号还在使用，请先登录账户，再进入“我的”-“通用设置”-“账号设置”中修改。<br />
                    如果当前账户绑定的手机号不再使用，请先通过密码登录账户，再进入“我的”-“通用设置”-“账号设置”中修改。
                </p>
            </li>
            <li id="nickandheadrule">
                <h5 class="title">Q:用户修改昵称及头像规则</h5>
                <p>
                    非认证用户<br />
                    每自然年可修改1次<br />
                    认证用户<br />
                    每自然年可修改1次<br />
                    每次修改需要通过人工审核<br />
                    *当昵称和头像中可能含有违反《中华人民共和国网络安全法》的内容时，将可能不予以通过
                </p>
            </li>
        </ul>
    </div>
    <div id="q3">
        <h2>身份认证问题</h2>
        <ul>
            <li id="verifytime">
                <h5 class="title">Q:认证需要审核多久？</h5>
                <p>
                    认证审核时间<br />
                    非节假日期间，72小时内将通过人工审核<br />
                    审核结果通知方式<br />
                    您会收到 上学君 给您的私信通知，私信中会告知您审核通过结果或失败原因
                </p>
            </li>
            <li>
                <h5 class="title">Q:加入上学帮开放平台是什么意思？</h5>
                <p>加入上学帮开放平台是指在上学帮开放平台上建立一个您的学校页面。在学校页面，您可以查看学校评分、家长点评和提问，随时了解家长对您的评价；您可以点击“修改”更新您的硬件、教学等学校信息，也可以点击“提交”将详细信息或您对学校页面的问题提交给我们，进入大数据算法的评分体系，我们将给与您科学客观的得分排名；您可以对家长的点评进行回应；查看学校的口碑等等，帮助家长更好的了解您的学校。</p>
            </li>
            <li>
                <h5 class="title">Q:怎样加入上学帮开放平台？</h5>
                <p>
                    您加入上学帮开放平台的两种渠道：<br />
                    学校认证：您可以添加我们在院校库中收录范围的学校；<br />
                    自行添加学校：如您在院校库中未能查询到您的学校，您可以免费注册一个账号，并点击认证页面的“添加学校”按钮，如实填写您的姓名、学校地区、电话等信息，并提交资料审核。
                </p>
            </li>
            <li>
                <h5 class="title">Q:加入上学帮开放平台收费吗？</h5>
                <p>不需要，大部分学校信息的收录都是免费的，我们会向您提供其他多项定制教学，并在付费内容出现时，对您提示并进行说明。</p>
            </li>
            <li>
                <h5 class="title">Q:如何修改学校的详细信息呢？</h5>
                <p>如您的学校发生变动，如设备更新、更换电话，或者您需要增加学校的详细信息，如完善教学信息等，您可以登陆上学帮开放平台，在首页点击“完善信息”按钮，填写或修改并提交，工作人员会在收到您的信息后进行核实与处理，周期通常为3个工作日左右。</p>
            </li>
            <li>
                <h5 class="title">Q:我可以退出“上学帮开放平台”或停止家长对我的学校进行点评吗？</h5>
                <p>
                    上学帮开放平台致力于为广大家长提供最全面的学校选择信息，所有面向家长的学校都是平台收录的范围，我们并不会因您的要求而将家长在上学帮开放平台上删除。<br />
                    另外，家长有权对所有学校进行评价，我们也无法帮您停止家长对学校进行点评。
                </p>
            </li>
            <li>
                <h5 class="title">Q:我怎样才能进入平台的排行榜，你们可以把我们放入排行榜吗？</h5>
                <p>上学帮开放平台的排行榜，是根据学校的数据完善度和地区条件，由系统的大数据算法和公式自动生成的，定时更新，无法人工干预。</p>
            </li>
            <li>
                <h5 class="title">Q:哪些情况下学校会被禁止收录在平台上？</h5>
                <p>针对有不诚信行为，恶意滋事，或者通过诸如暴力、威胁、胁迫、诽谤等其它违法手段，扰乱社会公共秩序及市场竞争环境等行为的学校，点评平台除依法依规予以举报、投诉外，还有权予以删除或者屏蔽，并采取措施禁止其通过重新注册、发布等方式使用点评平台POI展示教学。</p>
            </li>
            <li>
                <h5 class="title">Q:什么是家长点评？</h5>
                <p>
                    家长点评是指家长在选择学校的过程，以及对于学校的感受产生的体验而发表的点评。家长点评是家长发布与分享学校评价感受的一种方式，可以为其他家长选择学校提供参考，也是家长对学校硬件、教学等多方面情况的一种反馈。<br />
                    我们严禁以下人员发布点评：学校经营者和员工提交点评；请其朋友或家人写点评；及其他不符合“家长感受体验”的点评。 一经审核发现，即做删除处理，情节严重者将作出进一步的处理。<br />
                    您可以鼓励家长在择校完成后发布点评，但是不允许为获取好评而为家长提供任何特殊的优惠或其他教学，一经查证，平台将作出严肃处理。请参见“学校收录声明”。
                </p>
            </li>
            <li>
                <h5 class="title">Q:你们如何保证家长的点评是客观有效的？</h5>
                <p>我们有一套详细的点评发布及审核标准，且该标准会根据实际情况不定期完善。我们有专业的点评审核团队严格按照标准对点评进行管理，认真审核所有提交的点评，保证点评的客观性。一旦发现不符合要求的点评，我们会立即予以删除。如果您发现可疑的虚假点评，您可以直接举报，也可以联系我们，告诉我们点评日期、点评账号，及更多其他的相关信息，帮助我们进行审核。我们也在技术手段上进行点评的监控，我们一直在改进各种问题点评的自动过滤功能，我们也非常重视和感谢您的帮助。</p>
            </li>
            <li>
                <h5 class="title">Q:我的学校页面的点评减少了，是怎么回事？</h5>
                <p>您的学校页面点评减少，可能有以下几种原因：发布的点评不符合平台规则；曾经发布过点评的家长自己删了自己的点评。</p>
            </li>
            <li>
                <h5 class="title">Q:我可以回复点评吗？</h5>
                <p>当然。您可以针对您学校页面下家长发布的所有点评做出回应，家长通常很看重学校对于家长意见的积极反馈与实际行动上的改进或提升。</p>
            </li>
            <li>
                <h5 class="title">Q:我们很想找到这位家长了解并解决问题，你们可以帮我们联系吗？</h5>
                <p>
                    很抱歉，不可以。我们必须严格遵守平台与家长之间的隐私协议，我们无法将家长的私隐信息提供给学校，也不可以将学校的消息转发给家长，我们建议您通过点评回应与家长做真诚公开的沟通。<br />
                    我们十分尊重家长发表点评的权力，如果我们收到投诉，学校骚扰、威胁家长要求其删除差评，一经查实，我们将作出严肃处理。
                </p>
            </li>
            <li>
                <h5 class="title">Q:点评中可以提及学校负责人或者教学人员的名字吗？</h5>
                <p>可以，但不允许人身攻击的行为，我们会酌情屏蔽姓名或删除点评。</p>
            </li>
            <li>
                <h5 class="title">Q:我们得到了一个非常负面的点评，对我们的经营影响很大，你们可以删除吗？</h5>
                <p>很抱歉，我们不会因学校的要求而删除任何一条点评，但我们很乐意帮您再一次审核该点评，确保其符合平台的点评收录标准。对于任何一个学校经营者来说，收到负面评价是很常见的情况，家长在表达感受时可能确会因客观或主观的原因而产生了不愉快的体验，我们建议您积极面对家长的每一条点评，如该点评符合平台收录标准，建议您回应该点评或使用“辟谣”功能。</p>
            </li>
            <li>
                <h5 class="title">Q:我觉得在我的学校页面出现了一条侮辱诽谤的点评，你们可以删除吗？</h5>
                <p>上学帮开放平台严格遵守中国的法律及互联网相关的法规，平台严禁发布侮辱诽谤等违法违规的点评，如果您在查看点评时，发现有质疑的情况，您可以使用“辟谣”功能，或您可以将相关点评提交给我们，我们会有专业的律师进行判断和界定，并进行相应的处理。</p>
            </li>
            <li>
                <h5 class="title">Q:如果支付费用，你们可以删除我们收到的负面点评吗？</h5>
                <p>不可以。上学帮开放平台不会因学校支付费用而删除任何点评。</p>
            </li>
            <li>
                <h5 class="title">Q:我是你们的商务合作学校，我可以要求删除点评吗？</h5>
                <p>不可以。在点评的审核标准上，所有学校都是一视同仁的，不管是合作学校还是非合作学校。上学帮开放平台有严格的点评审核机制和标准，由专门的团队执行，且该团队与销售团队是各自独立的。</p>
            </li>
            <li>
                <h5 class="title">Q:我们听说，你们在另外一家学校的要求下删除了其页面所有的负面点评，为什么不能删除我们的？</h5>
                <p>我们删除点评通常只有以下两个原因：点评内容违法违规，经审核后点评是虚假的。如果您认为您的学校页面下存在与事实不符的捏造点评，请联系我们，告知点评的链接以及更多可证实的信息，帮助我们进一步的审核。</p>
            </li>
            <li>
                <h5 class="title">Q:如果我对网上的点评不认可，我能做什么？</h5>
                <p>如果您认为家长对您的点评与实际消费情况不符，或者您认为点评系他人恶意攻击，请您点击该点评下方的“举报”按钮，提供具体证据，详细说明情况，或使用“辟谣”功能；工作人员在接到您的举报后会依据平台的点评审核标准进行复审，并在必要时与家长取得沟通，周期通常为2-5个工作日。</p>
            </li>
        </ul>
    </div>
</section>

<div class="message text-center"><a href="@Url.Action("Feedback", new { type=100 })">没有找到相关问题？</a></div>

@section  js{ 
<script type="text/javascript">
    var q = $.queryString('q');
    if (q) {
        $('#' + q).show().find('h2').hide();
        $('.header-title').text($('#' + q).find('h2').text());
    } else {
        $('.detail-list>div').show();
    }
</script>
}