<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <!--- unity接口映射配置 -->
  <unity>
    <containers>
      <container name="Programmer">

        <!-- EF基类接口 -->
        <!--<register type="ProductManagement.Framework.EntityFramework.IRepositoryContext,ProductManagement.Framework.EntityFramework" 
                  mapTo="ProductManagement.Repository.EFRepositoryContext, ProductManagement.Repository"></register>
     -->
   <!--     <register type="ProductManagement.Framework.EntityFramework.IRepositoryContext,ProductManagement.Framework.EntityFramework" 
                  mapTo="PMS.PartTimeJobManage.Repository.PartTimeJobRepositoryContext,PMS.PartTimeJobManage.Repository"></register>     
            -->    
        <!-- 兼职管理平台 -->
        <!--用户-->
       <!-- <register type="PMS.PartTimeJob.Application.Interface.IPartTimeJobAdmin,PMS.PartTimeJob.Application" mapTo="PMS.PartTimeJob.Application.Service.PartTimeJobAdminService,PMS.PartTimeJob.Application"></register>
        <register type="PMS.PartTimeJob.Domain.RepositoryInterface.IPartTimeJobAdminRepository,PMS.PartTimeJob.Domain" mapTo="PMS.PartTimeJob.Repository.PartTimeJobAdminRepository,PMS.PartTimeJob.Repository"></register>
        -->
                
       <!-- <register type="PMS.CommentsManage.Application.IServices.IPartTimeJobAdminService,PMS.CommentsManage.Application" 
                  mapTo="PMS.CommentsManage.Application.Services.Admin.PartTimeJobAdminService,PMS.CommentsManage.Application"></register>
        <register type="PMS.CommentsManage.Domain.IRepositories.IPartTimeJobAdminRepository,PMS.CommentsManage.Domain" 
                  mapTo="PMS.CommentsManage.Repository.PartTimeJobAdminRepository,PMS.CommentsManage.Repository"></register>
                
             -->   
      </container>
    </containers>
  </unity>

  <!--日志配置项 log4net-->
  <log4net>
    <appender name="ChangeInfo" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\Info\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <DatePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level  - %message%newline" />
      </layout>
    </appender>
    <appender name="ChangeError" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Error\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <DatePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="ChangeDebug" type="log4net.Appender.RollingFileAppender">
      <file value="log\\Debug\\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <DatePattern value="yyyyMMdd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date  %-5level - %message%newline" />
      </layout>
    </appender>
    <logger name="Info">
      <level value="ALL" />
      <appender-ref ref="Info" />
      <appender-ref ref="ChangeInfo" />
    </logger>
    <logger name="Error">
      <level value="ALL" />
      <appender-ref ref="Error" />
      <appender-ref ref="ChangeError" />
    </logger>
    <logger name="Debug">
      <level value="ALL" />
      <appender-ref ref="Debug" />
      <appender-ref ref="ChangeDebug" />
    </logger>
  </log4net>
</configuration>