
@{
    ViewData["Title"] = "上学帮特权会员服务协议";
    Layout = "~/Views/PC/Shared/_PCUserLayout.cshtml";
}
@section css{
    <link rel="stylesheet" href="@ViewBag.FileHost_M/css/agreement.css" />
}
<header class="header flex justify-content-between">
    <a class="arrow"></a>
    <span class="header-title">上学帮特权会员服务协议</span>
    <span class=""></span>
</header>
<section class="mt">
    <p>
        &emsp;&emsp;欢迎您使用上学帮特权会员服务。上学帮特权会员服务是免费的特权服务，为使用该服务，您应当阅读并遵守《上学帮特权会员服务协议》（以下简称：本协议），以及《上学帮服务条款协议》等上学帮各项制度规范。
    </p>
    <p>
        &emsp;&emsp;请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款。您使用本产品，即视为您已阅读并同意上述协议、规则等的约束。如果您对本协议的任何条款表示异议，您可以选择不使用本产品。免除或限制责任条款可能以粗体字加下划线的形式提示您注意。
    </p>
    <p>
        &emsp;&emsp;如果您未满 18 周岁，请在法定监护人的陪同下阅读本协议。
    </p>
    <h2>
        总则
    </h2>
    <p>
        1.&emsp;&emsp; 上学帮用户是指完成全部注册流程，愿意接受上学帮用户协议并在上学帮相关使用规范的规定下使用上学帮服务的注册用户。用户在使用特权会员服务时登录的上学帮帐号是上学帮确认用户身份的唯一依据。
    </p>
    <p>
        2.&emsp;&emsp; 上学帮特权会员服务是指上学帮为上学帮特定用户提供的免费增值服务，用户与上学帮签订内容授权协议后，方可享受专门为特权会员提供的各项服务。
    </p>
    <p>
        3.&emsp;&emsp; 上学帮是指广州藏星网络科技有限公司及其相关服务可能存在的运营关联单位。
    </p>
    <p>
        4.&emsp;&emsp; 上学帮特权会员是指：签订内容授权协议后，经有效注册、开通上学帮帐号，使用上学帮特权会员服务的用户。
    </p>
    <h2>
        服务费用
    </h2>
    <p>
        &emsp;&emsp;免费<strong>。</strong>
    </p>
    <h2>
        服务内容
    </h2>
    <p>
        1.&emsp;&emsp; 上学帮将为特权会员提供多种专有的特权会员服务，具体内容以上学帮提供的为准。
    </p>
    <p>
        2.&emsp;&emsp; <strong>上学帮有权根据实际情况随时调整服务的内容</strong>，前述调整将于相应服务页面予以展示。
    </p>
    <h2>
        服务的开通和终止
    </h2>
    <p>
        1.&emsp;&emsp; 上学帮用户签订内容授权协议，在平台进行注册后，并同意本协议，即可成为上学帮特权会员。
    </p>
    <p>
        2.&emsp;&emsp; 成为上学帮特权会员后，上学帮将会按照本协议向特权会员提供服务，特权<strong>会员应当全面遵守上学帮的各项管理规范，包括但不限于本协议。</strong>
    </p>
    <p>
        3.&emsp;&emsp; 会员有效期自上学帮特权会员服务开通之日起算，二年有效。
    </p>
    <p>
        4.&emsp;&emsp; 特权会员有效期过期后，上学帮将终止提供特权会员增值服务。
    </p>
    <h2>
        特权会员的权利和义务
    </h2>
    <p>
        1.&nbsp; 特权会员在有效期内享受上学帮特权会员的各项增值服务，特权会员资格取消/终止后，将不能再享受上学帮特权会员的各项增值服务，即不再享有特权会员服务。
    </p>
    <p>
        2. 特权会员平等享有上学帮特权会员的权利，同时应遵守上学帮的各项管理方案，包括但不限于上学帮特权会员服务协议。
    </p>
    <p>
        3. 特权会员在特权会员有效期内可主动终止或取消特权会员资格。
    </p>
    <p>
        4. 如果特权会员帐号因违反上学帮平台规定而被撤销，特权会员权益失效。
    </p>
    <p>
        5. 特权会员自行承担在上学帮平台中发布、传播信息的法律责任，特权会员使用上学帮服务，均应遵守中华人民共和国的各项法律法规。
    </p>
    <h2>
        上学帮的权利和义务
    </h2>
    <p>
        1.&emsp;&emsp; 上学帮有义务保证特权会员服务的顺畅，当出现技术故障导致特权会员服务提供有碍时，上学帮应尽快排除故障。
    </p>
    <p>
        2.&emsp;&emsp; 上学帮在未经特权会员授权时不得公开、编辑或透露特权会员注册及保存的非公开内容。法律规定的情形除外。
    </p>
    <p>
        3.&emsp;&emsp; 上学帮通过上学帮系统通知、私信、提醒等多种方式对特权会员进行通知和公告。
    </p>
    <p>
        4.&emsp;&emsp; 因不可抗力造成特权会员服务的中断或其它缺陷，上学帮不承担任何责任，但将尽力减少因此给特权会员造成的损失和影响。
    </p>
    <p>
        5.&emsp;&emsp; 因用户原因造成上学帮帐号密码泄露，上学帮不承担责任，同时为避免上学帮帐号被盗用后滥用而引起法律风险，上学帮有权在知悉该情形后采取一切措施避免第三方对用户的特权会员帐号实施操作行为，而不论其基于何种目的、获取方式是否善意合法。若用户行为涉及违反国家法律、法规、政策，情况严重者，应有权机关要求乙方将对其账户信息向有权机关合法披露。
    </p>
    <p>
        6.&emsp;&emsp; 若特权会员在使用上学帮服务或上学帮特权会员服务的过程中，有下列行为之一的，上学帮有完全的权利在不通知用户的情况下，终止提供特权会员服务，并有权限制、冻结或终止与该服务相关联的上学帮帐号使用，因此给上学帮造成损失的，上学帮有权向特权会员用户要求承担损害赔偿责任。涉及该行为所引起的其他违法行为或者侵犯其他主体合法权利的，特权会员用户应负责全部责任，上学帮平台不承担连带责任。
    </p>
    <p>
        （1）以营利为目的为自己或他人获得特权会员服务；
    </p>
    <p>
        （2）将特权会员帐号以出租、出借、出售等任何形式提供给第三方使用；
    </p>
    <p>
        （3）将通过特权会员服务获得的任何内容用于个人学习、研究或欣赏之外的用途；
    </p>
    <p>
        （4）盗用他人帐号进行特权会员注册或使用；
    </p>
    <p>
        （5）以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件或其它非正规方式获得特权会员服务；
    </p>
    <p>
        （6）存在触犯中华人民共和国法律、行政法规的强制性规定的行为；
    </p>
    <p>
        （7）存在妨害社会公共秩序的行为；
    </p>
    <p>
        （8）存在其他严重影响上学帮及上学帮用户利益的行为。
    </p>
    <h2>
        其他
    </h2>
    <p>
        1.&emsp;&emsp; 本服务条款的解释、效力及纠纷的解决，适用于中华人民共和国大陆地区法律。上学帮不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响上学帮在将来行使该权利。
    </p>
    <p>
        2.&emsp;&emsp; 因可归责于特权会员自身的原因引发的法律纠纷，与上学帮无关，特权会员应当自行承担相应法律责任。如因此给上学帮带来损失，或使上学帮陷入纠纷，上学帮保留以法律手段维护自身合法权益的权利。
    </p>
    <p>
        3.&emsp;&emsp; 特权会员的所有权和运营权，以及特权会员制度和活动的制订权均归上学帮所有，上学帮在法律规定的范围内拥有解释权。
    </p>
    <p>
        4.&emsp;&emsp; 上学帮发布的关于特权会员服务的各项管理规范、规则等，均构成本服务条款不可分割的部分。上学帮可依照上学帮发展的不同阶段，出于维护特权会员秩序的目的，不断完善本条款。完善后的条款公布并通知用户后，即产生法律效力。如果您不接受完善后的条款，应当立即停止使用上学帮特权会员服务。
    </p>
    <p>
        5.&emsp;&emsp; 本协议签订地为【中华人民共和国广州市天河区】。
    </p>
    <p>
        6.&emsp;&emsp; 如上学帮特权会员（用户）和上学帮之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，应当向广州仲裁委员会提请仲裁。。
    </p>
    <p>
        7.&emsp;&emsp; 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
    </p>
    <p>
        <br />
    </p>
</section>
