<!-- 广告 -->
<div class="mkt-box">
    <div class="swiper-container swiper-mkt" id="swiperAd">
        <div class="swiper-wrapper">
            <!-- <div class="swiper-slide">
                <img src="../../imgs/detail/ad1.png" alt="">
            </div> -->
        </div>
        <div class="swiper-pagination mkt-pagination"></div>
    </div>
</div>  