<!DOCTYPE html>
<html>
    <head>
    <meta name="applicable-device" content="mobile">
    </head>
    <body style="">
        <script src="@(ViewBag.StaticFile)/js/jquery-3.4.0.min.js"></script>
            <script src="@(ViewBag.StaticFile)/js/swiper.min.js"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="@(ViewBag.StaticFile)/js/school-pk/school-pk-detail.js"></script>
    </body>
</html>